$font-primary: 'Poppins',
sans-serif;

$color-white: #fff;
$color-black: #000;
$color-grey: #f6f7fb;
$color-grey-dark: #7f828a;
$color-grey-line: #e6e6e9;
$color-main: #38275f;
$color-main-dark: #a70656;
$color-main-light: #d6a5b7;
$color-accent: #e92e7d;
$color-accent-dark: #4354bd;
$color-accent-light: #dde1f6;
$color-green: #00a453;
$color-green-light: #e5f6ed;

$color-main-conf:#735cb7;

$grid-gutter-width: 20px;
$container-lg: 1300px;
$screen-lg: 1350px;
$window-biggest: 1920px;