.moje-konto-login {
    min-height: 100vh;
    position: relative;
    z-index: 2;
    
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $color-white;
        border-radius: 2px;
        min-height: calc(100vh - 200px);
    }
    
    &__logo {
        padding: 30px;
        display: flex;
        justify-content: center;
        
        svg {
            width: 46px;
        }
    }
    
    &__panels-wrapper {
        height: 400px;
        min-height: calc(100vh - 300px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__panels-top {
       display: flex;
        justify-content: space-between;
        border-bottom: solid 1px $color-grey-line;
        
        & > * {
            width: 50%;
            text-align: center;
            padding: 50px 0;
        }
    }
    
    &__panel-heading {
        font-size: 18px;
        font-weight: bold;
        color: $color-main;
        cursor: pointer;
        
        &.active {
            color: $color-accent;
            border-bottom: solid 3px $color-accent;
        }
    }
    
    &__panel {
        display: none;
        width: 410px;
        max-width: 90%;
        margin: auto;
        
        &.active {
            display: block;
        }
        
        &.show {
            display: block;
        }
    }
    
    &__under-inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        &:before, &:after {
            display: none !important;
        }
        
        label {
            position: static;
        }
    }
    
    &__button {
        .btn {
            width: 100%;
            height: 40px;
        }
    }
    
    &__back {
        text-align: center;
        padding-top: 10px;
        
        a {
            color: $color-black;
            font-size: 12px;

            &:hover {
                color: $color-main;
            }    
        }
    }
    
    &__section {
        label {
            display: block;
        }
        
        input {
            width: 100%;
            margin-bottom: 17px;
        }
    }
    
    &__bottom {
        padding: 20px 0;
        text-align: center;
        color: $color-main;
    }
    
    label {
        padding-left: 6px;
        display: inline !important;
        line-height: 2;
    }
    
    &__password-message {
        text-align: center;
        margin-top: 5px;
        
        .btn {
            clear: both;
            margin-top: 20px;
        }
    }
    
    .woocommerce-notices-wrapper {
        width: 410px;
        max-width: 90%;
        margin: auto;
        margin-top: 10px;
        
        .woocommerce-error {
            background: none;
            border: none;
            padding: 0;
            padding-left: 20px;
            color: $color-accent;
            
            &:before {
                left: 1px;
                top: 2px;
            }
        }
        
    }
}