.view-order {
    &__top {
        padding: 30px;
        
        table.shop_table {
            tr {
                &:hover {
                    background-color: $color-white;
                }
            }
            
            td {
                border: none !important;
                padding-bottom: 5px !important;
                text-align: left !important;
                
                @media screen and (max-width: $screen-sm - 1) {
                    padding: 0 !important;
                    padding-bottom: 10px !important;
                }
                
                &:first-child {
                    padding-left: 0 !important;
                }
                
                &:last-child {
                    padding-right: 0 !important;
                    
                    @media screen and (max-width: $screen-sm - 1) {
                        padding-bottom: 0 !important;
                    }
                }
            }
            
            th {
                border: none !important;
                padding-top: 0 !important;
                padding-bottom: 20px !important;
                font-weight: 400 !important;
                text-align: left !important;
                color: $color-main !important;
                
                &:first-child {
                    padding-left: 0 !important;
                }
                
                &:last-child {
                    padding-right: 0 !important;
                }
            }
        }
    }
    
    &__top-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        color: $color-main;
        
        @media screen and (max-width: $screen-sm - 1) {
            display: block;
        }
    }
    
    &__top-top-email {
        padding: 0 30px;
        
        @media screen and (max-width: $screen-md - 1) {
            padding-left: 0;
        }
        
        @media screen and (max-width: $screen-sm - 1) {
            margin-bottom: 20px;   
        }
        
        .moje-konto__heading {
            margin-bottom: 10px;
            
            @media screen and (max-width: $screen-sm - 1) {
                margin-bottom: 0;
            }
        }
    }
    
    &__top-top-btn {
        padding: 0 30px;
        
        @media screen and (max-width: $screen-md - 1) {
            padding-right: 0;
        }
        
        @media screen and (max-width: $screen-sm - 1) {
            padding: 0;   
        }
    }
    
    &__top-back {
        padding: 0 30px;
        margin-bottom: 10px;
        
        @media screen and (max-width: $screen-sm - 1) {
            padding: 0 10px;   
        }
        
        a {
            color: $color-main-light;
            
            path {
                fill: $color-main-light;
            }
            
            &:hover {
                color: $color-white;
                
                path {
                    fill: $color-white;
                }
            }
        }
        
        svg {
            margin-right: 5px;
        }
    }
    
    &__top-table {
        border: solid 1px $color-grey-line;
    }
    
    &__address {
        padding: 25px 60px;
        margin-bottom: 20px;
        
        @media screen and (max-width: $screen-md - 1) {
            padding: 30px;
        }
        
        @media screen and (max-width: $screen-sm - 1) {
            padding: 30px;
        }
    }
    
    &__address-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        
        @media screen and (max-width: $screen-sm - 1) {
            flex-wrap: wrap;
        }
    }
    
    &__address-left, &__address-right {
        width: 48%;
        flex-grow: 0;
        
        @media screen and (max-width: $screen-sm - 1) {
            width: 100%;
        }
    }
    
    &__address-right {
        width: 40%;
        
        @media screen and (max-width: $screen-sm - 1) {
            width: 100%;
        }
    }
    
    &__line {
        display: flex;
        align-items: center;
    }
    
    &__question {
        margin-right: 30px;
        display: inline-block;
        padding: 5px 0;
        color: $color-grey-dark;
        width: 50%;
        max-width: 110px;
        flex-shrink: 0;
        
        @media screen and (max-width: $screen-sm - 1) {
            margin-right: 0;
            padding-right: 10px;
        }
    }
    
    &__answer {
        max-width: 110px;
    }
    
    &__section {
        padding: 0 60px;
        margin-bottom: 10px;
        
        @media screen and (max-width: $screen-sm - 1) {
            padding: 0 10px;   
        }
    }
    
    &__img {
        float: left;
        width: 100px;
        position: relative;
        overflow: hidden;
        text-align: center;
        margin-right: 20px;
        
        @media screen and (max-width: $screen-sm - 1) {
            display: none;
        }
        
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    
    &__details-heading {
        font-size: 12px;
        font-weight: 700;
        color: $color-grey-dark;
    }
    
    &__details-line {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    &__product-name {
        font-weight: bold;
        color: $color-main;
        margin-right: 7px;
    }
    
    &__product-category {
        font-size: 12px;
        color: $color-grey-dark;
    }
    
    &__product-quantity {
        color: $color-main;
        font-weight: 400;
    }
    
    &__product-total {
        font-size: 16px;
        font-weight: 700;
        width: 20%;
    }
    
    &__download {
        a {
            &:hover {
                path {
                    fill: $color-white;
                }
            }
        }
        
        path {
            fill: $color-main-light;
        }
    }
}