.liczyc {
    &__wrapper {
        padding: 60px;
        background-color: $color-main;
        border-radius: 2px;
        color: $color-white;
        
        @media screen and (max-width: $screen-sm - 1) {
            padding: 30px;
            flex-wrap: wrap;
        }
    }
    
    .trenerzy__heading {
        color: $color-white;
    }
    
    &__items {
        display: flex;
        justify-content: space-between;
    }
    
    &__item {
        width: 25%;
        text-align: center;
        
        @media screen and (max-width: $screen-sm - 1) {
            width: 50%;
            margin-bottom: 20px;
        }
        
        &:focus {
            outline: 0;
        }
    }
    
    &__icon {
        width: 50px;
        height: 50px;
        background-color: $color-accent;
        border-radius: 50%;
        margin: auto;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        path {
            fill: $color-white;
        }
    }
    
    &__tekst {
        width: 170px;
        max-width: 100%;
        margin: auto;
        font-weight: 500;
    }
}