.oddzwonimy {
    &__wrapper {
        background-color: $color-white;
        border-radius: 2px;
        padding: 60px 60px 0;
        
        @media screen and (max-width: $screen-sm - 1) {
            padding: 30px;
        }
    }
    
    &__top {
        text-align: center;
    }
    
    &__upheading {
        font-weight: 700;
        color: $color-accent;
        margin-bottom: 3px;
    }
    
    &__heading {
        font-size: 34px;
        font-weight: 700;
        color: $color-main;
        margin-bottom: 20px;
        
        @media screen and (max-width: $screen-sm - 1) {
            font-size: 18px;
        }
    }
    
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    
    &__middle {
        max-width: 100%;
        margin: auto;
        margin-bottom: 60px;
    }
    
    &__left, 
    &__right {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
        @media screen and (max-width: $screen-lg - 1) {
            width: 200px;        
        }
        
        @media screen and (max-width: $screen-md - 1) {
            width: 140px;
        }
        
        @media screen and (max-width: $screen-sm - 1) {
            display: none;
        }
    }
}