.conf-why {
    &__wrapper {
        padding: 160px 0 118px 0;

        @media screen and (max-width:$screen-lg) {
            padding: 90px 0;
        }
    }

    &__content-top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: $color-main;
        margin-bottom: 85px;

        @media screen and (max-width:$screen-lg) {
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 25px;
        }
    }

    &__title {
        width: 275px;
        font-size: 34px;
        font-weight: 700;

        @media screen and (max-width:$screen-lg) {
            width: auto;
            margin-bottom: 10px;
        }
    }

    .conf-btn {
        @media screen and (max-width:$screen-lg) {
            margin-bottom: 16px;
        }
    }

    &__text {
        font-weight: 40;
        font-size: 14px;
        width: 640px;

        @media screen and (max-width:$screen-lg) {
            order: 1;
            width: auto;
        }
    }

    &__content-bottom {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:$screen-lg) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__item {
        width: calc(25% - 20px);
        margin: 0 10px;
        padding: 25px;
        background: $color-main-conf;
        color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &:nth-child(1) {
            background: $color-main-conf;
            margin-left: 0;

            @media screen and (max-width:$screen-lg) {
                margin: 10px
            }
        }

        &:nth-child(2) {
            background: #6f58b0;
        }

        &:nth-child(3) {
            background: #634fa1;
        }

        &:nth-child(4) {
            background: #54428a;
            margin-right: 0;

            @media screen and (max-width:$screen-lg) {
                margin: 10px
            }
        }

        @media screen and (max-width:$screen-lg) {
            width: 300px;
            margin: 10px;
        }
    }

    &__item-number {
        font-size: 34px;
        opacity: 0.5;
        font-weight: 700;
        margin-bottom: 70px;

        @media screen and (max-width:$screen-sm) {
            margin-bottom: 50px;
        }
    }

    &__item-icon {
        width: 95px;
        height: 95px;
        margin-bottom: 70px;

        img {
            width: 100%;
            height: 100%;
        }

        @media screen and (max-width:$screen-sm) {
            margin-bottom: 50px;
        }
    }

    &__item-text {
        font-weight: 700;
        display: flex;
        align-items: flex-end;
        height: 70px;
        font-size: 21px;
    }
}