.conf-cta {
    color: $color-main;
    margin-bottom: 128px;

    @media screen and (max-width:$screen-sm) {
        margin-bottom: 65px;

    }

    &__header {
        display: flex;
        margin-bottom: 20px;

        @media screen and (max-width:800px) {
            display: none;
        }
    }

    &__column-sm {
        display: flex;
        flex-direction: column;
        background: $color-main-conf;
        color: $color-white;
        width: 15.7%;
    }

    &__column-lg {
        display: flex;
        flex-direction: column;
        background: $color-white;
    }

    &__column-top {
        border-radius: 5px;
        align-items: center;
        margin: 0 10px;
        position: relative;
        font-weight: 600;
        padding: 13px 0;

        &:nth-child(1) {
            margin-left: 0;

            @media screen and (max-width:$screen-lg) {
                width: 26%;
            }

            .conf-cta__triangle {
                border-top: solid 8px $color-main-conf;

            }
        }

        &:nth-child(2) {
            background: $color-white;
            color: $color-main;

            @media screen and (max-width:$screen-lg) {
                width: 12%;
            }
        }

        &:nth-child(3) {
            margin-right: 0;
            width: 66%;

            @media screen and (max-width:$screen-lg) {
                width: 58%;
            }
        }
    }

    &__title,
    &__topic,
    &__time {
        margin: 0;
        font-size: 14px;

        @media screen and (max-width:$screen-md) {
            font-size: 10px
        }
    }

    &__triangle {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        border: solid 8px transparent;
        border-top: solid 8px $color-white;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    &__item {
        display: flex;
        background: $color-white;
        margin-bottom: 20px;
        border-radius: 5px;
        overflow: hidden;

        &:nth-child(even) {
            .conf-cta__left {
                background: #5b4794;
            }
        }

        @media screen and (max-width:800px) {
            flex-direction: column;

        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 27px 40px 20px;
        width: 20.5%;
        color: $color-white;
        background: $color-main-conf;

        @media screen and (max-width:$screen-lg) {
            min-width: 26%;
        }

        @media screen and (max-width:800px) {
            width: auto;
            flex-direction: row;
            align-items: center;
        }
    }

    &__left-name {
        font-weight: 700;
        font-size: 24px;
        margin: 0;
    }

    &__left-icon {
        width: 85px;
        height: 85px;

        @media screen and (max-width:$screen-md) {
            width: 60px;
            height: 60px;
        }
    }

    &__btn {
        color: $color-white;
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: $color-accent;

            path {
                fill: $color-accent;
            }
        }

        svg {
            margin-left: 10px;

            path {
                fill: $color-white;
            }
        }

        @media screen and (max-width:800px) {
            display: none;
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        padding: 45px 0;
        padding-right: 10px;

        @media screen and (max-width:$screen-sm) {
            padding: 45px 20px;
        }
    }

    &__row {
        display: flex;
        padding-top: 40px;

        &:first-child {
            padding-top: 0px
        }

        @media screen and (max-width:$screen-sm) {
            flex-direction: column;
        }
    }

    &__item-time {
        padding-left: 50px;
        min-width: 135px;
        font-weight: 500;

        @media screen and (max-width:$screen-md) {
            padding-left: 20px;
        }

        @media screen and (max-width:800px) {
            padding-left: 10px;
        }

        @media screen and (max-width:769px) {
            padding-left: 0px;
        }
    }

    &__item-box {
        padding-left: 127px;

        @media screen and (max-width:$screen-md) {
            padding: 0;
        }
    }

    &__item-person-wrapper {
        display: flex;
    }

    &__item-img {
        margin-right: 20px;
        width: 45px;
        height: 45px;
    }

    &__item-name-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__item-name {
        margin-bottom: 10px;
    }

    &__item-name-bottom {
        font-size: 12px;
    }

}