.conf-btn {
    background: $color-accent;
    border: none;
    width: 155px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
        background: $color-main;
        color: $color-white;
    }
    
    &--full {
        width: 100%;
        height: 100px;
        margin-bottom: 25px;
        z-index: 2;
        position: relative;

        svg {
            margin-left: 10px;

            path {
                fill: $color-white
            }
        }

        @media screen and (max-width:$screen-sm) {
            height: 60px;
        }
    }

    &--main {
        background: $color-main;

        &:hover {

            background: $color-accent;
        }
    }
}

.semi-bold {
    font-weight: 500
}

.conf-heading {
    @extend .conf-slider__title;
    color: $color-main;
}