.conf-footer {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        color: $color-main;
    }

    &__social,
    &__copyright,
    &__text {
        width: 33%;
        display: flex;
    }


    &__copyright {
        justify-content: flex-start;
        margin: 0;
    }

    &__social {
        justify-content: center;
    }

    &__text {
        justify-content: flex-end;
    }

    &__link {
        color: $color-accent;
        margin-left: 5px;
    }

    .social__item {
        opacity: 0.7;

        &:hover {
            opacity: 1 !important;
        }
    }
}