.conf-harmonogram {
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-bottom: 140px;
    }

    &__package-wrapper {
        display: flex;
        margin-bottom: 20px;

        @media screen and(max-width:$screen-md) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        background: $color-white;
        margin: 0 10px;
        color: $color-main;
        flex-basis: 100%;
        padding: 40px 10px;

        &:nth-child(2) {
            padding: 40px 0;
        }

        &:nth-child(4) {
            background: $color-accent;
            color: $color-white;

            .conf-harmonogram__heading {
                color: $color-main;
            }

            .conf-harmonogram__price {
                color: $color-white;
            }

            svg {
                path {
                    fill: $color-white;
                }
            }
        }

        @media screen and(max-width:$screen-lg) {
            margin: 0;
        }
    }

    &__item-content {
        padding: 40px 10px 40px 20px;

        .conf-harmonogram__heading {
            margin-bottom: 76px;
        }

        @media screen and(max-width:$screen-md) {
            display: none;
        }

        @media screen and(max-width:$screen-sm) {
            padding: 40px 0px 40px 10px;
        }
    }

    &__item-package {
        position: relative;
        align-items: center;
    }

    &__option {
        position: absolute;
        width: 180px;
        height: 30px;
        top: -41px;
        left: 50%;
        transform: translateX(-50%);
        background: $color-accent;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }

    &__triangle {
        position: absolute;
        top: -11px;
        left: 50%;
        transform: translateX(-50%);
        border: solid 8px transparent;
        border-top: solid 8px $color-accent;
    }

    &__text {
        margin: 0;
        height: 54px;
        font-size: 13px;
        display: flex;
        align-items: center;

        @media screen and(max-width:$screen-xs) {
            font-size: 11px;
        }
    }

    &__heading {
        font-size: 21px;
        font-weight: 700;

        @media screen and(max-width:$screen-xs) {
            font-size: 14px;

        }
    }

    &__price {
        font-size: 31px;
        font-weight: 300;
        color: $color-accent;
        margin-bottom: 19px;

        @media screen and(max-width:$screen-xs) {
            font-size: 22px;
            margin-bottom: 36px;
        }
    }


    &__price,
    &__heading {
        display: flex;
        justify-content: center;
    }

    &__icon {
        width: 20px;
        height: 54px;


        svg {
            width: 100%;
            height: 100%;
        }
    }

    .conf-btn {
        width: 116px;
        height: 40px;
        color: $color-accent;
        background: $color-main-light;
        font-size: 13.95px;
        font-weight: 500;
        margin-top: 30px;
        cursor: pointer;
    }

    &__bottom-caption {
        margin: auto;
        text-align: center;
        max-width: 75%;
        color: $color-main;
        font-weight: 500;

        @media screen and(max-width:$screen-xs) {
            max-width: 100%;
            font-size: 11px;
        }
    }

    &__link {
        color: $color-accent;
        cursor: pointer;
    }

    &__item-mobile {
        flex-basis: 100%;

        &:last-child {
            margin-bottom: 0px
        }

        @media screen and(max-width:$screen-md) {
            display: flex;
            position: relative;
            margin-bottom: 50px;
        }

    }

    &__item-content-mobile {
        display: none;

        @media screen and(max-width:$screen-md) {
            display: flex;
        }
    }
}