.conf-hero {
    position: relative;
    color: $color-white;

    @media screen and (max-width:$screen-sm) {
        background: #634fa1;
        height: 260px;
    }

    &__bc {
        @media screen and (max-width:$screen-sm) {
            display: none;
        }
    }

    &__container {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
    }

    &__text-wrapper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 300px;
        max-width: 90%;
    }

    &__title {
        text-align: center;
        font-size: 34px;
        font-weight: 700;

        @media screen and (max-width:$screen-md) {
            font-size: 26px;
        }

        @media screen and (max-width:$screen-sm) {
            font-size: 22px;

        }

        @media screen and (max-width:535px) {
            font-size: 16px;
        }
    }

    .conf-btn {
        margin: auto;

        @media screen and (max-width:$screen-sm) {
            width: 140px;
            height: 40px;
        }
    }
}