.conf-header {
    position: fixed;
    top: 0;
    left: 50%;
    width: 1600px;
    max-width: 100%;
    z-index: 9999;
    transform: translateX(-50%);

    &--fixed {
        background-color: rgba(0, 0, 0, 0.6);
        transition: background-color 0.3s;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 5;
        padding: 30px 14px 23px;

        @media screen and (max-width:880px) {
            display: none;
        }
    }

    &__logo {
        width: 170px;

        @media screen and (max-width:$screen-lg) {
            width: 140px;
        }
    }

    &__logo-img {
        width: 100%;
        height: 100%;
    }

    &__menu {
        font-weight: 500;
        display: flex;
        list-style: none;
        align-items: center;
    }

    &__menu-item {
        margin: 0 10px;
        padding: 5px;

    }

    &__menu-link {
        color: $color-white;
        font-weight: 500;
        font-size: 14px;

        @media screen and (max-width:1040px) {
            font-size: 10px;

        }

        &:hover {
            color: $color-accent;
        }
    }

    .conf-btn {
        width: 170px;
        height: 50px;

        @media screen and (max-width:$screen-lg) {
            width: 140px;
            height: 40px;

        }
    }
}