.conf-slider {
    padding-top: 70px;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        display: inline-block;
    }

    &__arrows {
        width: 120px;
        display: flex;
    }

    &__arrow {
        background: #37285f;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        opacity: 1;
        margin: 0 10px;

        path {
            fill: $color-white;
        }

        &:first-child {
            transform: rotate(180deg);
        }

        &:hover {
            path {
                fill: $color-accent;
            }

        }
    }

    &__item {
        height: 400px;
        width: 310px;
        background: $color-white;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item-img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    &__item-name {
        font-weight: 800
    }

    &__btn {
        color: $color-main;

        svg {
            margin-left: 10px;

            path {
                fill: $color-main;
            }
        }
    }
}