.conf-map {
    margin-bottom: 0;
    padding-top: 120px;

    .map__map {
        margin-bottom: 80px;

        @media screen and (max-width:$screen-lg) {
            margin-bottom: 50px;
        }

        @media screen and (max-width:$screen-md) {
            margin-bottom: 30px;
        }
    }
    
    &__wrapper {
        background: $color-white;
        color: $color-main;
        padding: 0 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;

        @media screen and (max-width:$screen-xs) {
            padding: 0 10px;
        }
    }

    &__adress-wrapper {
        display: flex;
        padding: 40px 0 70px 0;

        @media screen and (max-width:$screen-md) {
            flex-wrap: wrap
        }

    }

    &__adress-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 25%;

        @media screen and (max-width:$screen-md) {
            width: 50%;
        }
    }

    &__heading {
        font-weight: 600;
        font-size: 14px;
        padding-right: 10px;
        height: 36px;
        margin: 0;

        @media screen and (max-width:$screen-md) {
            font-size: 13px;
        }

        @media screen and (max-width:$screen-xs) {
            font-size: 11px;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-bottom: 23px;
    }

    &__line {
        width: 20px;
        height: 2px;
        background: $color-main;
        margin-top: 37px;
        margin-bottom: 23px;
    }

    &__first-line {
        margin: 0;
    }

    &__second-line {

        @media screen and(max-width:$screen-xs) {
            font-size: 10px;
        }
    }

    &__heading-bottom {
        @media screen and (max-width:$screen-md) {
            font-size: 10px;
        }
    }
}