.conf-slider {
    padding-top: 70px;
    color: $color-main;

    .slick-track {
        display: flex;

    }

    .slick-slide {
        height: auto;

        >div {
            height: 100%;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
    }

    &__arrows {
        width: 120px;
        display: flex;
    }

    &__arrow {
        background: #37285f;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        opacity: 1;
        margin: 0 10px;

        path {
            fill: $color-white;
        }

        &:first-child {
            transform: rotate(180deg);
        }

        &:hover {
            path {
                fill: $color-accent;
            }
        }
    }

    &__item {
        height: 100%;
        width: 320px;
        margin: 0 10px;
        background: $color-white;
        padding: 40px;
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item-top {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
    }

    &__item-img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }

    &__item-name {
        font-weight: 500;
        font-size: 14px;
    }

    &__item-middle {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 14px;

    }

    &__item-btn {
        font-weight: 700;
        font-size: 14px;
        color: $color-main;
        cursor: pointer;

        svg {
            margin-left: 10px;

            path {
                fill: $color-main;
            }
        }

        &:hover {
            color: $color-accent;

            svg {
                path {
                    fill: $color-accent;
                }
            }
        }
    }

    &__slider {
        margin-bottom: 20px;
    }

    .slick-slide {
        margin: 0 10px;

        &:nth-child(1) {
            margin-left: 0;
        }
    }

    .slick-list {
        margin: 0 -10px;
    }

    .conf-btn {
        width: 100%;
        height: 100px;
        margin-bottom: 25px;

        svg {
            margin-left: 10px;

            path {
                fill: $color-white
            }

        }
    }
}